
.titulo {
    font-weight: bold;
    font-style: italic;
    color: #26A3FD;
    width: 50%;
}

.subtitulo {
    color: #26A3FD;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

section {
    margin: 30px 0;
}

#imagen-header {
    width: 100%;
}

.header-container {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 300px;
    display: flex;
    align-items:center
}

.header-container p {
    font-style: italic;
    font-weight: 500;
}

footer {
    padding: 20px 0; 
    background-color: rgb(39, 110, 241);
}

.footer-content {
    max-width: 800px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
    color: #fcfbfb;
    text-align: center; 
}

