<header class="header-container">
    
    <div>
        <h2 class="titulo">QUIENES SOMOS</h2>
        <p>
            Somos una compañía de tecnología
            que brinda servicios financieros.
        </p>
    </div>
    <img src="./assets/logoDigiltaArg.jpg" alt="Logo de la empresa" id="imagen-header" class="mb-3">
</header>
    
<main>
    <section>
        <h3 class="subtitulo">MISIÓN</h3>
        <p>
            Proporcionar una solución de billetera virtual segura, 
            conveniente y confiable, que empodere a las personas para 
            realizar transacciones financieras de manera ágil y eficiente.
        </p>
    </section>
    <section>
        <h3 class="subtitulo">VISIÓN</h3>
        <p>
            Nuestra visión es ser la billetera virtual preferida a nivel mundial, 
            reconocida por su innovación, seguridad y confiabilidad. 
            Aspiramos a revolucionar la forma en que las personas realizan transacciones financieras, 
            ofreciendo una plataforma completa y fácil de usar que se adapte a las necesidades cambiantes de nuestros usuarios.
        </p>
    </section>
    <hr>
    <p>Mas por agregar...</p>
    <hr>
</main>

<footer>
    <div class="footer-content">
        <p>
            Derechos de autor © 2023 | DigitalArg 
        </p>
    </div>
</footer>