
  <div class="text-center mb-4">
    <img src="./assets/logoDigiltaArg.jpg" alt="Logo de la empresa" class="mb-3">
    <h2>Registrarse como usuario</h2>
  </div>


<!-- <section class="auth-form"> -->
<section>

  <!-- <div class="text-center">
    <h3 class="h3">Registrarse **Ver falta Hacer**</h3>
  </div> -->

  <!-- <form id="authForm" (ngSubmit)="onSubmit()"> -->
    <form  class="formulario">
    <div class="mb-3">
      <label for="email" class="">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email"
        aria-describedby="emailHelp" required>
      <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors?.['forbiddenName']">
          Name cannot be Bob.
        </div>
      </div> -->
    </div>

    <div class="mb-3">
      <label for="name" class="">Usuario</label>
      <input formControlName="name" type="text" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="password" class="">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" required>
    </div>

    <div class="d-grid">
      <button type="submit" (click)="validarDatosRegistro()" class="btn btn-primary">Registrarse</button>
    </div>
  </form>

  <!-- <p>Form Status: {{ registrarForm.status }}</p> -->
  <!-- <p>Form Value: {{ registrarForm.value }}</p> -->

  <ng-template #showSignTemplate>
    <a [routerLink]="['/login']" class="text-black">
      ¿Ya tienes una cuenta? <small>Login!</small>
    </a>
  </ng-template>

</section>
  