
<div class="text-center mb-4">
  <img src="./assets/logoDigiltaArg.jpg" alt="Logo de la empresa" class="mb-3">
  <h2>Registrarse como usuario</h2>
</div>

<!-- <section class="auth-form"> -->
<section>
  <!-- <div class="text-center">
    <h3 class="h3">Registrarse **Ver falta Hacer**</h3>
  </div> -->

  <!-- <form id="authForm" (ngSubmit)="onSubmit()"> -->
  
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Usuario</label>
      <input formControlName="name" type="text" class="form-control" id="exampleInputName">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="d-grid">
      <button type="submit" (click)="validarDatosRegistro()" class="btn btn-primary">Registrarse</button>
    </div>
  </form>

  <p>Form Status: {{ registrarForm.status }}</p>
  <p>Form Value: {{ registrarForm.value }}</p>

  <ng-template #showSignTemplate>
    <a [routerLink]="['/login']" class="text-black">
      ¿Ya tienes una cuenta? <small>Login!</small>
    </a>
  </ng-template>

</section>
  